.container {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}

.spinner {
  animation: spin 1s linear infinite;
  border: 5px solid transparent;
  border-top: 5px solid var(--primary);
  box-sizing: border-box;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}