.navigation {
  background-color: var(--header-background);
  border-bottom: 1px solid var(--gray);
  position: sticky;
  z-index: 999;
  width: 100%;
  right: 0;
  left: 0;
  top: 0; 
}

.container {
  justify-content: space-between;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  position: relative;
  min-height: 6.4rem;
  max-width: 120rem;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  width: 100%;
}

.homeLink {
  flex-direction: row;
  align-items: center;
  margin-right: 2rem;
  display: flex;

  & > svg {
    display: inline-block;
  }
}

.githubLink {
  border: 1px solid var(--gray);
  transition: all 0.15s ease-in-out;
  background-color: transparent;
  box-sizing: border-box;
  display: inline-flex;
  border-radius: 1rem;
  margin-left: 2rem;
  padding: 0.65rem;

  & > svg {
    display: inline-block;
  }

  &:hover {
    background-color: var(--gray-hover);
  }
}