%input-field {
  transition: all 0.15s ease-in-out;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  border-radius: 2rem;
  padding: 0 1.5rem;
  max-width: 40rem;
  display: flex;
  width: 100%;
}

.field {
  @extend %input-field;
  border: 1px solid var(--gray);
  background-color: #f3f6f9;
}

.focused {
  @extend %input-field;
  border: 1px solid var(--primary);
  background-color: var(--primary-light);
}

.input {
  margin: 0 0.5rem 0 0.5rem;
  background: transparent;
  outline: none;
  height: 100%;
  width: 100%;
  border: 0;
}

.submit {
  transition: all 0.15s ease-in-out;
  border: 1px solid #e5e8ec;
  background-color: #fff;
  box-sizing: border-box;
  display: inline-flex;
  border-radius: 1rem;
  margin: 1.5rem 0;
  padding: 0.65rem;

  & > svg {
    display: inline-block;
  }

  &:hover {
    background-color: var(--gray-hover);
  }
}